html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', monospace;
    background: url('./background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    background-color: white;
    width: 100vh;
    height: 100vh;
}
.nav {
    height: 10vh;
    background: black;
}
.menu {
    margin: 0;
    padding: 0;
    height: 10vh;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    background: #FFB133;
}
li {
    color: white;
    text-shadow: 3px 3px #919191;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.menuOption1::before {
    content: 'Home';
}
.menuOption2::before {
    content: 'Menu';
}
.menuOption3::before {
    content: 'Contact';
}
.topInfo {
    height: 30.5vh;
}
.topInfoHeading {
    margin: 0;
    padding-top: 5vh;
    color: black;
    font-size: 5vh;
    text-align: center;
}
.topInfoContent {
    color: black;
    text-align: center;
    margin-top: 4vh;
    padding: 4vh;
    background: #FFCA85;
    font-weight: bold;
    font-size: 3vh;
}
.bottomInfo {
    height: 45vh;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chefPhoto {
    background: url('chef.jpg');
    background-size: 40vh;
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
}
.chefPhotoDesc {
    font-size: 2vh;
}